
body{
     color:blanchedalmond;
     background-color: rgb(34, 34, 33);
     font-family: Garamond;
    }
 #lewa img{
    width: 50%;
    float: left;
     }
#prawa{
     width: 50%;
    float: left;
    }
    h2{
        font-size: 20;
        text-align: center;
        letter-spacing: 5px;
        background: -webkit-linear-gradient(45deg, #b4ddb4 0%, #8f83c7 17%, #a7b152 33%, #09008a 67%, #005700 83%, #002400 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #stopka{
         background-color: #313131;
         width: 100%;
         font-weight: bold;
         float: right;
         margin: 0px;
         text-align: center;
         vertical-align: middle;
 
    }
    #stopka img{
         width: 32px;
         height: 32px;
    }
